name: amplitude_flutter
description: Official Amplitude Flutter SDK, supporting Android, iOS, macOS, and web platforms.
version: 4.0.1
homepage: https://www.amplitude.com
repository: https://github.com/amplitude/Amplitude-Flutter


environment:
  sdk: ">=3.3.0 < 4.0.0"
  flutter: ">=3.7.0"
dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

dev_dependencies:
  build_runner: ^2.3.3
  flutter_lints: ^2.0.3
  flutter_test:
    sdk: flutter
  lints: ^2.1.1
  mockito: ^5.4.0
  test: ^1.22.0

flutter:
  plugin:
    platforms:
      android:
        package: com.amplitude.amplitude_flutter
        pluginClass: AmplitudeFlutterPlugin
      ios:
        pluginClass: AmplitudeFlutterPlugin
        sharedDarwinSource: true
      macos:
        pluginClass: AmplitudeFlutterPlugin
        sharedDarwinSource: true
      web:
        pluginClass: AmplitudeFlutterPlugin
        fileName: amplitude_web.dart
