name: amplitude_flutter
description: Amplitude Flutter plugin
version: 3.0.0
homepage: https://www.amplitude.com

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.0"
dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.amplitude.amplitude_flutter
        pluginClass: AmplitudeFlutterPlugin
      ios:
        pluginClass: AmplitudeFlutterPlugin