name: Flutter Test and Lint

on: [pull_request]

jobs:
  test:
    name: Check the source code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Check Flutter version
        run: flutter --version

      - name: Install packages
        run: flutter pub get

      - name: Linter
        run: flutter analyze

      - name: Test
        run: flutter test